%titul{
    margin-top: 100px;
    text-align: center;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium';
    color: #2c384a;
    text-transform: uppercase;
}
%hr{
    margin-top: 30px;
    width: 70px;
    height: 4px;
    background-color: #d17700;
}
a{
    text-decoration: none;
    color: #ffffff;
}
*{
    margin: 0px;
    padding:0px;
    border: 0px;
}
@font-face {
    font-family: Bahn;
    src: url(../Font/Bahn.ttf);
}
.body__header{
    padding-left: 388px;
    padding-right: 388px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    background-color: #344051;
    color:#ffffff;
    .header-logo{
        font-family: 'Franklin Gothic Medium';
        font-size: 17px;
    }
    .header-nav{
        ul{
            display: flex;
            li{
                font-family: 'Franklin Gothic Medium';
                margin-right: 40px;
                font-size: 13px;
                list-style-type: none;
                text-transform: uppercase;
            }
        }
    }
}
.under-header{
    display: flex;
    align-items: center;
    padding: 0px 388px 0px 388px;
    height: 875px;
    background:url(../Img/Boy.png) 90% 100%/auto 93% no-repeat,url(../Img/bg.jpg) center/cover no-repeat;
    font-family: 'Franklin Gothic Medium';
    .under-titul{
        text-align: center;
        h1{
            font-size: 60px;
            color: #2c384a;
        }
        p{
            margin-top: 44px;
            color: #79818d;
        }
    }
    .under-button{
            display: flex;
            justify-content: center;
            margin-top: 44px;
        button{
            font-family: 'Franklin Gothic Medium';
            border: 2px solid #6d7682;
            border-radius: 5px;
            padding: 12px;
            background-color: #e9e9ef;
            color: #6d7682;
        }
    }
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .content__AboutMe{
        box-shadow: 0px 2px 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .content__AboutMe-titul{
            @extend %titul;
        }
        hr{
            margin-top: 30px;
            width: 70px;
            height: 4px;
            background-color: #d17700;
        }
        .content__AboutMe-image{
            margin-top: 60px;
            width: 200px;
            height: 200px;
        }
        p{
            margin-top: 25px;
            font-family: Calibri;
            color:#3f495a;
            width: 46.375rem;
        }
        button{
            margin-top: 35px;
            margin-bottom: 98px;
            font-family: 'Franklin Gothic Medium';
            border: 2px solid #6f707e;
            border-radius: 5px;
            padding: 12px;
            background-color: #ffffff;
            color: #6f707e;
            img{
                width: 13px;
                height: 12px;
            }
        }
    }
    .content__WhatCan{
        display: flex;
        align-items: center;
        flex-direction: column;
        background: url(../Img/bgskills.jpg) no-repeat;
        h2{
            @extend %titul;
        }
        hr{
            @extend %hr;
        }
        .WhatCan-skills{
            margin-top: 100px;
            margin-bottom: 80px;
            display: flex;
            .skills-item{
                margin-right: 85px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 240px;

                h3{
                    margin-top: 35px;
                    text-align: center;
                    color: #cf7600;
                    font-family:Bahn;
                }
                p{
                    margin-top: 15px;
                    text-align: center;
                    font-family: Calibri;
                    color:#3f495a;
                }
            }
        }
    }
    .content__Case{
        display: flex;
        align-items: center;
        flex-direction: column;
        h2{
            @extend %titul;
        }
        hr{
            @extend %hr;
        }
        .Case-text{
            margin-top: 35px;
            font-family: Calibri;
            color:#3f495a;
        }
        img{
            margin-top: 40px;
        }
        .Case-project{
            margin-top: 40px;
            display: flex;
            justify-content: center;
            width: 66%;
            .Case-project-Data{
                margin-right: 82px;
                display: flex;
                flex-direction: column;
                h3{
                    font-family: 'Franklin Gothic Medium';
                    color: #3f495a;
                }
                p{

                    font-weight: bold;
                    margin-top: 6px;
                    margin-bottom: 20px;
                    font-family: Calibri;
                    color:#3f495a;
                    font-size: 15px;
                }
                button{
                    color: #ffffff;
                    width: 200px;
                    height: 44px;
                    font-family: 'Franklin Gothic Medium';
                    font-size: 20px;
                    text-transform: uppercase;
                    border-radius: 6px;
                    background-color: #63b5ae;
                }
            }
            .Case-project-Info{
                display: flex;
                flex-direction: column;
                width: 70%;
                h3{
                    font-family: 'Franklin Gothic Medium';
                    color: #3f495a;
                }
                p{
                    font-size: 18px;
                    font-family: Calibri;
                    color:#3f495a;
                }
            }
        }
    }
    .content__Cost{
        margin-bottom: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            margin-top: 100px;
            text-align: center;
            font-size: 35px;
            font-family: 'Franklin Gothic Medium';
            text-transform: uppercase;
            color:#1c2534;
        }
        .Cost-selects{
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            h3{
                text-transform: uppercase;
                font-family: 'Franklin Gothic Medium';
                color:#1c2534;
                font-size: 25px;
            }
            select{
                margin-top: 22px;
                margin-bottom: 40px;
                font-size: 17px;
                padding: 0px 30px 0px 30px;
                color: #737373;
                width: 890px;
                height: 60px;
                background-color: #eeeeee;
            }
            hr{
                width: 100%;
                height: 2px;
                background-color: #d1d1d1;
            }
            .Cost-Payment{
                display: flex;
                flex-direction: column;
                
                .Cost-Payment-item{
                    margin-top: 10px;
                    display: flex;
                    color: #1c2534;
                    font-size: 20px;
                    font-family: 'Franklin Gothic Medium';
                    justify-content: space-between;
                }
            }
        }
    }
    .content__Statistics{
        display: flex;
        flex-direction: column;
        align-items: center;
        background:url(../Img/statbg.png) no-repeat;
        h2{
            @extend %titul;
        }
        hr{
            @extend %hr;
        }
        .Statistics-stats{
            display: flex;  
            margin-top: 90px;
            margin-bottom: 86px;
            .stats-item{
                margin-right: 150px;
                display: flex;
                align-items: center;
                flex-direction: column;
                h3{
                    margin-top: 30px;
                    margin-bottom: 20px;
                    font-family: Impact;
                    font-size: 25px;
                    color: #323d4f;
                }
                p{
                    
                    font-family: 'Franklin Gothic Medium';
                    text-transform: uppercase;
                    color: #323d4f;
                }
            }
        }
    }
    .content__Feedback{
        display: flex;
        align-items: center;
        flex-direction: column;
        h2{
            @extend %titul;
        }
        hr{
            @extend %hr;
        }
        img{
            margin-top: 50px;
            
        }
        p{
            margin-top: 35px;
            text-align: center;
            width: 43%;
            font-family: Calibri;
            color: #243042;
        }
        .slider-bullets{
            margin-top: 45px;
            display: flex;
            margin-bottom: 90px;
            .bulletsselect{
                margin-right: 15px;
                border-radius: 100px;
                background-color: #c96500;
                width: 10px;
                height: 10px;
            }
            .bullets{
                margin-right: 15px;
                border-radius: 100px;
                background-color: #cfd2d7;
                width: 10px;
                height: 10px;
            }
        }
    }
    .content__Contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url(../Img/contactbg.png) no-repeat;
        h2{
            @extend %titul;
        }
        hr{
            @extend %hr;
        }
        .content__Contacts-text{
            margin-top: 30px;
            font-size: 20px;
            font-family: Calibri;
            color: #ffffff;
        }
        .Contacts-data{
            display: flex;
            margin-top: 45px;
            .Contacts-data-item{
                margin-right: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    font-family: Calibri;
                    color: #ffffff;
                    font-size: 20px;
                }
            }
        }
        h3{
            margin-top: 35px;
            font-family: 'Franklin Gothic Medium';
            text-transform: uppercase;
            color: #ffffff;
            font-size: 25px;
        }
        .Contacts-inputs{
            margin-top: 45px;
            margin-bottom: 141px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .Contacts-inputs-up{
                input{
                    margin-right: 29px;
                    font-family: 'Franklin Gothic Medium';
                    padding: 0px 12px 0px 12px;
                    width: 340px;
                    height: 34px;
                    background-color: rgba(255,255,255,0.8);
                }
            }
            .Massage{
                margin-top: 14px;
                font-family: 'Franklin Gothic Medium';
                width: 737px;
                height: 94px;
                padding: 0px 12px 0px 12px;
                background-color: rgba(255,255,255,0.8);
            }
            .Contacts-inputs-button{
                margin-top: 28px;
                font-family: 'Franklin Gothic Medium';
                font-size: 18px;
                color: #ffffff;
                width: 125px;
                height: 42px;
                border: 2px solid #ffffff;
                border-radius: 10px;
                background-color:transparent;
            }
        }
    }
    .content__Map{
        background:url(../Img/mapbg.jpg) no-repeat ;
        height: 350px;
    }
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    background-color: #354051;
    color: #ffffff;
    font-family: Arial;
}